@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Allerta+Stencil|News+Cycle');


html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-top: 5em;
}

section {
    margin-left: 1em;
    margin-right: 1em;
}

.nav--title {
    font-size: 1.35em;
}

.main--title {
    display: inline-block;
    font-family: 'News Cycle', sans-serif;
    font-size: 2.85em;
    text-align: center;
}

.chart-select-bottom {
    position: relative;
    text-align: center;
    font-size: 1.32em;
    width: 225px;
    top: -75px;
    left: 125px;
}

.chart-select-left {
    position: relative;
    text-align: center;
    font-size: 1.32em;
    width: 135px;
    top: 75px;
    right: 50px;
}

.chart-radio-bottom {
    position: relative;
    text-align: center;
    font-size: 1.32em;
    top: -75px;

}

.chart {
    display: block;
    margin: 0;
    padding-top: 1.65em;
}

.chart-tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    min-width: 165px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    font-size: .99em;
    font-family: 'News Cycle', sans-serif;
    color: #FCF4F4;
    background-color: #0F5DAA;
    border-radius: 8px;
    pointer-events: none;
}

.axis-text {
    font-size: 1.15em;
    font-weight: bold;
    text-anchor: middle;
}

circle, tspan {
    cursor: crosshair;

}

tspan {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: .95em;
    font-weight: bold;
    text-anchor: middle;
}

.active {
    font-weight: bold;
    fill: #000;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}

.inactive {
    font-weight: lighter;
    fill: #c9c9c9;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}

.inactive:hover {
    fill: #000;
    cursor: pointer;
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #f5f5f5;
}

#footer p {
    margin: 0;
    font-size: 16px;
}